section .container {
  height: 90vh;
}

#about-top {
  letter-spacing: .2rem;
  margin: -2vh auto 0 auto;
  max-width: $max-width-about;
  #sub-name-header {
    color: #a5a5a5;
  }
  .container {
    .icon-down {
      font-size: 50px;
      text-align: center;
    }
    .bi.bi-arrow-right-square-fill {
      display: inline-block;
      animation: arrowAnimation 0.9s cubic-bezier(0, 0, 0.24, 1.01) infinite alternate;
      color: $color-gold;
    }
  }
}

@keyframes arrowAnimation {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(8px);
  }
}