#about-top {
  letter-spacing: .3rem;
  .container {
    height: 100vh;
    margin-top: -5%;

    .bi.bi-arrow-right-square-fill {
      display: inline-block;
      animation: arrowAnimation 0.9s cubic-bezier(0, 0, 0.24, 1.01) infinite alternate;
    }
  }

  #sub-name-header {
    color: #a5a5a5;
  }
}

@keyframes arrowAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}