#filter {
  position: fixed;
  top: 16%;
  right: 80%;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

#burger {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 11;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
  border-radius: 3px;
  div {
    background-color: #b7c3ce;
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
  }
}

#articles-index {
  max-width: 90vw;
  margin-top: 80px;

  p {
    margin-bottom: 0;
    letter-spacing: 0.1rem;
  }
  .row {
    .article-description {

      a {
        font-size: 1.2rem;
        @include hoverable-anchor(
          $before-color: black,
          $before-border-bottom: $color-gold 1px solid,
          $after-color: $color-focused,
          $after-border-bottom: $color-focused 1px solid
        );
      }

      .publish-date {
        font-size: 0.8rem;
      }
    }
  }
}