#filter {
  position: fixed;
  top: 16%;
  bottom: 0;
  right: 78%;
  margin-left: 8%;
  padding-bottom: 100px;
  overflow-y: auto;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

#articles-index {
  max-width: 90vw;
  margin-top: 80px;

  p {
    margin-bottom: 0;
    letter-spacing: 0.1rem;
  }

  .selected-tags {
    text-align: center;
  }

  .row {
    .article-description {

      a:not(.badge) {
        font-size: 1.2rem;
        @include hoverable-anchor(
          $before-color: black,
          $before-border-bottom: $color-gold 1px solid,
          $after-color: $color-focused,
          $after-border-bottom: $color-focused 1px solid
        );
      }

      .publish-date {
        font-size: 0.8rem;
      }
    }
  }
}