<div class="container-fluid mt-5 col-md-11 col-lg-8 col-xl-6" id="advertising">
  <h2>プログラミングに関するオススメ書籍</h2>
  <section class="d-flex flex-row flex-wrap bd-highlight mb-3 justify-content-center justify-content-md-start">
    <%= render advertising_anchors(@article.tags) %>
  </section>
</div>