<%# title の影響 %>
<div class="col-6 col-md-5 d-flex">
  <%= generate_navigation_anchor(article: @article, direction: "prev") %>
</div>

<%# title の影響 %>
<div class="col-6 col-md-5 d-flex">
  <%= generate_navigation_anchor(article: @article, direction: "next") %>
</div>