<section id="about-top">
  <div class="container d-flex flex-column justify-content-center">
    <div class="row mb-4">
      <div class="col-md-4 col-12">
        <h1 class="display-5">高江洲　順八</h1>
      </div>
      <div class="col-md-8 col-12">
        <h1 class="display-5" id="sub-name-header">(たかえす じゅんや / <%= Time.new.year - 1993 %> 歳)</h1>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        これまでの経歴
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row my-3">
      <div class="col-md-2 fw-light">2016 ~ 2019</div>
      <div class="col-md-6">銀行系システム開発のプロジェクトでキャリアをスタート</div>
      <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span class="badge rounded-pill mx-1 sql-icon">SQL</span>
        <span class="badge rounded-pill mx-1 excel-icon">Excel</span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row my-3">
      <div class="col-md-2 fw-light">2019 ~ 2020</div>
      <div class="col-md-6">Web 系開発の企業で、Web ディレクター兼ジュニアプログラマーを経験</div>
      <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span class="badge rounded-pill mx-1 php-icon">PHP</span>
        <span class="badge rounded-pill mx-1 mysql-icon">MySQL</span>
        <span class="badge rounded-pill mx-1 javascript-icon">JavaScript</span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-2 fw-light">2021 ~ 20xx</div>
      <div class="col-md-6">本格的にエンジニアになるべく勉強中</div>
      <div class="col-md-4 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span class="badge rounded-pill mx-1 ruby-icon">Ruby</span>
        <span class="badge rounded-pill mx-1 ruby-icon">Rails</span>
      </div>
    </div>
    <div class="row pt-5">
      <p>日々勉強したことなど、ブログに書いています <a href="articles">BLOG</a></p>
    </div>
  </div>
</section>