<aside id="filter" class="d-none d-lg-block">
  <div class="tags">
    <p>Tags</p>
    <nav>
      <ul>
        <li>
          <a href="?tag=php">php</a>
        </li>
        <li>
          <a href="?tag=ruby">ruby</a>
        </li>
        <li>
          <a href="?tag=rails">rails</a>
        </li>
        <li>
          <a href="?tag=html/css">html/css</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="archives">
    <p>Archives</p>
    <nav>
      <ul>
        <li>
          <a href="?date=2020-04">2020-04</a>
        </li>
        <li>
          <a href="?date=2020-03">2020-03</a>
        </li>
        <li>
          <a href="?date=2020-02">2020-02</a>
        </li>
        <li>
          <a href="?date=2020-01">2020-01</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<aside id="burger" class="d-block d-lg-none">
  <div></div>
  <div></div>
  <div></div>
</aside>

<div class="container" id="articles-index">
  <% @articles.each do |article| %>
  <% id, article = article%>
    <div class="row justify-content-md-center gx-0 mb-5">
      <div class="col-md-8 col-lg-6 mx-md-3 article-description">
        <span class="publish-date"><%= "#{article.created_at}" %></span>
        <p>
          <%= link_to article.title, "#{articles_path}/#{article.id.to_s}", class: "article-title" %>
        </p>
      </div>
    </div>
  <% end %>
</div>