<div class="container-fluid" id="articles-index">
  <h1>BLOG</h1>
  <% @articles.reverse.each do |article| %>
    <div class="row gx-0 mb-5">
      <div class="col-md-10 mx-md-3 article-description">
        <p>
          <%= link_to article[:title], "#{articles_path}/#{article[:id]}", class: "article-title" %>
        </p>
        <p class="text-muted">
          書いた日: 2021/1/31
        </p>
      </div>
    </div>
  <% end %>
</div>