<div class="container-fluid" id="articles-index">
  <h1>BLOG</h1>
  <% @articles.each do |key, article| %>
    <div class="row justify-content-md-center gx-0 mb-5">
      <div class="col-md-6 col-lg-4 mx-md-3 article-description">
        <p>
          <%= link_to article.title, "#{articles_path}/#{article.id.to_s}", class: "article-title" %>
        </p>
      </div>
    </div>
  <% end %>
</div>