<div class="container-fluid" id="article-show">
  <div class="row mx-2 mx-md-5 lh-lg">
    <h1><%= @article.title %></h1>
    <%= "#{parse_markdown(string: ((render @article.article_path)), escape_html: false)}".html_safe %>
  </div>
  <div class="row mt-5 py-5 g-0 d-flex justify-content-md-around">
    <%= render "footer_navigation" %>
  </div>
</div>