#articles-index {
  max-width: 70vw;

  h1 {
    border-bottom: rgb(170, 100, 14) 4px double;
    width: fit-content;
    margin: 6vh auto;
  }
  p {
    margin-bottom: 0;
  }
  .row {
    .image-frame {
      overflow: hidden;

      .img-fluid {
        transition: all .3s ease-in-out;

        &:hover {
          transform: scale(1.8);
        }
      }
    }
    .article-description {

      .article-title {
        font-size: 1.2rem;
        text-decoration: none;
        color: rgb(170, 100, 14);

        &:hover {
          color: cadetblue;
        }
      }
    }
  }
}