body {
  background-color: $color-background !important;
}

a {
  @include hoverable-anchor(
    $before-color: $color-gold,
    $before-border-bottom: none,
    $after-color: $color-focused,
    $after-border-bottom: $color-focused 1px solid
  );
}