<section id="about-top">
  <div class="container d-flex flex-column justify-content-center">
    <div class="row mb-4">
      <div class="col-md-3 col-12 mt-5 mt-md-0">
        <h1 class="display-6">高江洲　順八</h1>
      </div>
      <div class="col-md-9 col-12">
        <h1 class="display-6" id="sub-name-header">(たかえす じゅんや / <%= Time.new.year - 1993 %> 歳)</h1>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        これまでの経歴
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row my-3">
      <div class="col-md-3 fw-light">2016.04 ~ 2019.03</div>
      <div class="col-md-6 fw-light">銀行系システム開発のプロジェクトでIT業界のキャリアをスタート</div>
      <div class="col-md-3 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="badge rounded-pill mx-1 article-tag-sql" href="articles?tags=sql">SQL</a></span>
        <span><a class="badge rounded-pill mx-1 article-tag-excel" href="articles?tags=excel">Excel</a></span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row my-3">
      <div class="col-md-3 fw-light">2019.04 ~ 2020.12</div>
      <div class="col-md-6 fw-light">Web 系開発の企業で、Web ディレクター兼ジュニアプログラマーを経験</div>
      <div class="col-md-3 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="badge rounded-pill mx-1 article-tag-php" href="articles?tags=php">PHP</a></span>
        <span><a class="badge rounded-pill mx-1 article-tag-mysql" href="articles?tags=mysql">MySQL</a></span>
        <span><a class="badge rounded-pill mx-1 article-tag-javascript" href="articles?tags=javascript">JavaScript</a></span>
      </div>
    </div>
    <div class="collapse">
      <hr class="p-0 m-0">
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-3 fw-light">2021.01 ~ 2021.03</div>
      <div class="col-md-6 fw-light">Ruby, Rails をプログラミングスクールで習得</div>
      <div class="col-md-3 mt-3 mt-md-0 d-flex justify-content-around justify-content-md-center">
        <span><a class="badge rounded-pill mx-1 article-tag-ruby" href="articles?tags=ruby">Ruby</a></span>
        <span><a class="badge rounded-pill mx-1 article-tag-ruby" href="articles?tags=rails">Rails</a></span>
      </div>
    </div>
    <div class="row pt-1 pe-md-5 fw-light">
      <p>2019.04 から、主に PHP を使ったプログラミングの仕事をはじめました。転職活動のタイミングでスキルアップを目的に、プログラミングスクールに通い、Rails と Ruby でプログラムが書けるように勉強しました。スクールが終わって、2021.04 から転職活動中です。</p>
      <p>プログラミングの練習と、勉強を目的として、このブログを Rails で作成しました。定期的に学んだことなど記事を書いています。</p>
      <p><i class="bi bi-arrow-right-square-fill"></i><a href="articles" class="ms-2">BLOG</a></p>
    </div>
  </div>
</section>