// Place all the styles related to the StaticArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// show article
.image-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#article-hero {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.article-image {
  display: block;
  width: 70%;
  margin: 0 auto;
}

// about page (home page)
.jumbotron {
  letter-spacing: .3rem;
}

span.badge {
  letter-spacing: 0;
  height: 1.5rem;
}

#excel-icon {
  background-color: rgb(1,110,56);
}

#php-icon {
  background-color: #6674b3;
  color: black;
}

#mysql-icon {
  background-color: #255278;
}

#javascript-icon {
  background-color: #ffe100;
  color: black;
}

#ruby-icon {
  background-color: rgb(179, 24, 24);
}

@media (max-width: 576px) {
  #about-sub-header {
    font-size: 0.9rem;
  }
  .article-image {
    width: 90%;
  }
}