<p>
  bootstrap の justify-content utilities を使って、フッダーのボタンを調整したので、備忘録。
</p>

<h5>修正前</h5>
<%= image_tag "7/footer-image-before.jpg", class: "border m-5", style: "width: 60%; hegith: 60%" %>
<h5>修正後</h5>
<%= image_tag "7/footer-image-after.jpg", class: "border m-5", style: "width: 60%; hegith: 60%" %>


<h5>Bootstarp の justify-content utilities とは</h5>

<div>
  <ul>
    <li>responsive flexbox utilities の 一つ</li>
    <ul>
      <li>responsive flexbox utilities はレイアウトや要素の配置、要素のサイズ変更などを柔軟に行える bootstrap の仕組み</li>
      <li>bootstrap で flexbox を使うには ある要素に対して <span class="badge bg-secondary rounded">d-*-flex</span> のクラスを設定するだけ<br>
        <small class="fw-lighter">(※ <span class="badge bg-secondary rounded">d-*-flex</span>の * は適用させたい display プロパティ、breakpointを入れる)</small></li>
      <li>そうすると、その要素は、flex container になる</li>
      <li>それで、その子要素が flex な配置になる</li>
    </ul>
    <li>justify-content utilities を使うには、</li>
    <ul>
      <li><span class="badge bg-secondary rounded">d-*-flex</span> のクラスで flex-container にした要素に対して、<span class="badge bg-secondary rounded">justify-content-*</span> をつけるだけ</li>
    </ul>
  </ul>
</div>

<p>
  <span class="badge bg-secondary rounded">justify-content-*</span> の * の部分は、どのような配置にしたいかで、適宜置き換える。<br>
  例えば、このブログのフッターについては、要素の幅いっぱいにボタンが広がって圧迫感があったボタンに対して、隙間を与えるために、<span class="badge bg-secondary rounded">justify-content-around</span>を使用しました。<br>
</p>

<P>

</P>
  具体的なコードは jsfiddle に書いてあるとおりです。
<p>
  <iframe width="100%" height="300" src="//jsfiddle.net/jun_taka/b5wqg973/embedded/html,result/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
</p>