<p>
  このブログは Rails で作成しています。<br>
  データをデータベースから引っ張り出して記事を生成するのではなく、<br>
  静的なコンテンツとして、記事を表示しています。<br>
  静的なコンテンツから扱えば、Rails の View の使い方の理解がより深まると思い、こうしています。
</p>

<p>
  今日は、Rails Guide の <a href="https://guides.rubyonrails.org/layouts_and_rendering.html" target="_blank">Layouts and Rendering in Rails</a> を読んで、ブログの view をテンプレート化しました。
</p>

<p>
  もともとコントローラから直接ブログの記事のビューファイルを返すようにしていたのですが、記事のビューファイルは、同じデザインを使いまわしているので、<br>
  そのあたりが冗長でした。<br>
  それを修正して、コントローラからは、記事のレイアウトのベースとなるビューファイルを呼び出し、そのビューから、個別の記事の文章を取り込むように変更しました。<br>
</p>

<p>
  イメージとしては下記のような感じです。
</p>

<p>
  <%= image_tag "diagram-article3.jpg", class: "shadow", height: "400px"%>
</p>

<p>
  こうすることで、共通部分のナビゲーション、ヒーロー/サムネ画像、記事タイトル部分などをテンプレート化することができ、記事本文自体は、別のパーシャルとして保存しておき、リクエストあれたIDに応じて、パーシャルを取り込むという処理を行うようにしました。
</p>

<p>
  コードブロックを表示する機能がまだ無いため、コードが載せられない・・・。コードブロックの表示を早く実装しないと。
</p>