<p>
  css を練習して、↑の画像の様なサイト(サイト？）を作ってみました。トランスパイラの方ではなく、映画の Babel です。
</p>

<p>
  <h3>備忘録のメモ</h3>
  <div>
    <ul>
      <li>親要素に対して <span class="badge bg-secondary rounded">display: flex</span>を設定すると、flex container になり、子要素が水平方向に並べられる。</li>
      <li>画像中央に寄せて、要素全体に表示する
        <pre class="code-block">
          <code>
  .dummy {
    background: url("./bg/top.jpg") center/cover;
  }
          </code>
        </pre>
      </li>
      <li>
        ブラウザの幅いっぱいに要素を表示するのは以外と簡単
        <pre class="code-block">
          <code>
  .full {
    width: 100%; /* 幅をいっぱいに使う */
    height: 50vh; /* 100vh を指定すると、画面いっぱいに要素が広がる */
    background: linear-gradient(to bottom left, rgba(0,0,0,0.1), rgba(0,0,0,1));
  }
          </code>
        </pre>
      </li>
      <li>
        文字には影響を与えず、背景だけを暗くする
        <pre class="code-block">
          <code>
  #top {
    position: relative;
  }

  #top::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("./bg/top.jpg") center/cover;
    filter: brightness(30%);
  }
          </code>
        </pre>
        <ul>
          <li>ある要素の背景に対して <span class="badge bg-secondary rounded">filter: brightness(n%)</span> を使うと、その要素の背景を暗くできる</li>
          <li>背景画像の明るさは、その子要素にも継承される => 子要素の文字の明るさにも影響が出てしまう。</li>
          <li>疑似要素を使って、疑似要素に対して、明るさを設定すると、明るさの継承が回避できる。</li>
        </ul>
      </li>
    </ul>
  </div>
</p>