<%# title の影響 %>
<div class="col-6 col-md-5 d-flex">
  <%= generate_navigation_anchor(@articles, params[:id].to_i, "prev") %>
</div>

<%# title の影響 %>
<div class="col-6 col-md-5 d-flex">
  <%= generate_navigation_anchor(@articles, params[:id].to_i, "next") %>
</div>