<% if 0 < params[:id].to_i-1 %>
  <%= link_to "<<< 前の記事: #{@articles[params[:id].to_i-2][:title]}", "#{params[:id].to_i-1}", class: "btn btn-outline-warning ml-3 col-6", role: "button" %>
<% else %>
  <a class="btn btn-outline-secondary ml-3 col-6 disabled" href="#">記事がありません</a>
<% end%>
<% if params[:id].to_i+1 <= @articles.length %>
  <%= link_to "次の記事: #{@articles[params[:id].to_i][:title]} >>>", "#{params[:id].to_i+1}", class: "btn btn-outline-warning  col-6", role: "button" %>
<% else %>
  <a class="btn btn-outline-secondary ml-3 col-6 disabled" href="#">記事がありません</a>
<% end %>