<div class="card mb-3 mt-3 shadow w-50 mx-auto pt-5 px-5 pb-5">
  <table class="table">
    <tbody>
      <tr>
        <img
          src="https://www.gravatar.com/avatar/aba6eefa6746c2025f351659b48b173d?s=300"
          alt="アイコン画像"
          style="object-fit: contain;"
        >
      </tr>
      <tr>
        <th>Name:</th>
        <td>高江洲 順八</td>
      </tr>
      <tr>
        <th>Date of Birth: </th>
        <td>1993-04-07 00:00:00 / <small> Age: 27</small></td>
      </tr>
      <tr>
        <th>Skills:</th>
        <td>
          <ul>
            <li>HTML & CSS</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Rails</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>