<div class="card mb-3 mt-3 shadow w-75 mx-auto pt-5 px-5 pb-5">
  <table class="table">
    <tbody>
      <tr>
        <th>Name:</th>
        <td>高江洲 順八</td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td>1993-04-07 00:00:00 <small>age: 27</small> <a href="https://tools.ietf.org/html/rfc3339#page-6">[ about format ]</a></td>
      </tr>
      <tr>
        <th>Skills:</th>
        <td>
          <ul>
            <li>HTML & CSS</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Rails</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>