<div class="card mb-3 mt-3 shadow w-50 mx-auto pt-5 px-3 pb-5">
  <table class="table">
    <tbody>
      <tr>
        <img
          src="https://www.gravatar.com/avatar/aba6eefa6746c2025f351659b48b173d?s=300"
          alt="アイコン画像"
          style="object-fit: contain;"
        >
      </tr>
      <tr>
        <th>Name:</th>
        <td>Junya Takaesu</td>
      </tr>
      <tr>
        <th>I was born: </th>
        <td><%= age_distance_of_time_in_words() %> ago.</td>
      </tr>
      <tr>
        <th>Skills:</th>
        <td>
          <ul>
            <li>HTML & CSS</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Rails</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>