<div class="home-container box-shadow shadow">
  <div class="jumbotron bg-cover text-black-50 px-5">
    <h1 class="display-5">高江洲 順八 <small>(たかえす じゅんや / 27 歳)</small></h1>
    <p class="lead">これまでの経歴：</p>
    <ul>
      <li>2016 ~ 2019: 金融系システム開発の SE として、キャリアをスタート</li>
      <li>2019 ~ 2020: Web 系開発の会社で Web ディレクターを担当</li>
      <li>2021 ~ 現在: エンジニアになるべく勉強中</li>
    </ul>
    <hr class="my-4">
    <a class="btn btn-outline-dark btn-lg" href="#" role="button">⇩作ったものはこちら</a>
  </div>
</div>