<div class="container-fluid px-0 px-md-5 m-0" id="article-container">
  <div class="row">
    <div class="col">
      <%= image_tag @article[:hero_image], id: "article-hero" %>
    </div>
  </div>
  <div class="row mx-2 mx-md-5 lh-lg">
    <%= render inline: @html %>
  </div>
  <div class="row mt-5 py-5 g-0 d-flex justify-content-md-around">
    <%= render "footer_navigation" %>
  </div>
</div>